<% if @user.errors.any? %>
  <h2>The following errors prevented the user from signing up:</h2>
  <ul>
  <% @user.errors.full_messages.each do |msg|%>
  <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Enter username" %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Enter email" %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Enter password" %>
  </p>
  <p>
    <%= f.submit(@user.new_record?  ? "Sign up" : "Update account") %>
  </p>
  [ <small><%= link_to 'Cancel and Return to Articles', articles_path %></small> ]
<% end %>
